@import 'rxjs-se-stylus'

.StreamColorizer-root
  display: flex
  flex-flow: row nowrap
  padding: 8px

.StreamColorizer-colorMatcherRoot
  flex: 1 1 0
  padding: 8px

.StreamColorizer-colorMatcherSourceCode
  color: black
  font-size: 14px
  font-family: $se-font-family-monospace
  line-height: 1.7em
  padding: 2px 10px
  width: 100%
  max-height: 50vh
  border: none
  outline: none
  background-color: rgba(0,0,0,.1)
  border: 1px solid rgba(0,0,0,.1)
  resize: vertical

.StreamColorizer-colorDefinitionsRoot
  padding: 8px;
  flex: 0 0 auto
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center

.StreamColorizer-colorPicker
  position: fixed
  top: 50%
  left: 50%
  z-index: 3
  transform: translate(-50%,-50%)

.StreamColorizer-colorDefinitionItemsWrapper
  display: flex
  flex-flow: row wrap
  width: 270px + 2px
  height: 270px + 2px
  border: 1px solid rgba(0,0,0,.2)

.StreamColorizer-colorDefinitionColumnHeaders
  flex: 0 0 auto
  display: flex
  flex-flow: row nowrap
  width: 90%
  height: 10%

.StreamColorizer-colorDefinitionRowHeaders
  flex: 0 0 auto
  display: flex
  flex-flow: column nowrap
  width: 10%
  height: 90%

.StreamColorizer-colorDefinitionItems
  flex: 0 0 auto
  display: flex
  flex-flow: row wrap
  width: 90%
  height: 90%

.StreamColorizer-colorDefinitionItem
  flex: 0 0 auto
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  width: 27px
  height: 27px
  font-weight: bold
  font-size: 13px
  border: 1px solid rgba(0,0,0,.2)
