@import 'rxjs-se-stylus'

.StreamEditorTextarea-input
  color: black
  font-size: 14px
  font-family: $se-font-family-monospace
  line-height: 1.7em
  padding: 2px 10px
  width: 100%
  border: none
  outline: none
  background-color: transparent
  resize: vertical
