@keyframes packet-motion
  0%
    transform: translateX(0vw)
  100%
    transform: translateX(-100vw)

.StreamEditorItem-root
  display: flex
  flex-flow: column nowrap
  padding: 4px 0

.StreamEditorItem-sourceCode
  flex: 0 0 auto
  display: flex
  flex-flow: row nowrap
  align-items: stretch
  width: 100%
  height: auto
  background-color: rgba(0,0,0,.05)
  border-top: solid 1px rgba(0,0,0,.1)
  border-bottom: solid 1px rgba(0,0,0,.1)

.StreamEditorItem-sourceCodeRefLabel
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: ivory
  font-size: 12px
  font-weight: bold
  color: rgba(0,0,0,.4)
  border-right: solid 1px rgba(0,0,0,.1)
  padding: 0 10px

.StreamEditorItem-stream
  width: 100%
  height: 40px
  margin: 2px 0
  display: flex
  flex-flow: row nowrap
  align-items: stretch
  &::before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 1px
    background-color: rgba(0,0,0,.5)
    top: 0
    bottom: 0
    margin: auto

.StreamEditorItem-packet
  position: absolute
  top: -100%
  bottom: -100%
  margin: auto
  right: 0
  flex: 0 0 auto
  animation: packet-motion 30s linear
  z-index: 1
  height: 100%
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center

.StreamEditorItem-packet--array
  width: 20px
  height: 100%
  justify-content: space-between
  background-color: ivory
  padding: 4px
  &::before,
  &::after
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    font-size: 12px
    width: 2px
    height: 2px
    font-family: 'Fira Code', Menlo, monospace
  &::before
    content: '['
    transform: rotate(90deg)
  &::after
    content: ']'
    transform: rotate(90deg)

.StreamEditorItem-packet--number
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: ivory
  width: 20px
  height: 20px
  padding: 2px
  font-family: 'Fira Code', Menlo, monospace
  font-size: 16px
  color: black

.StreamEditorItem-packetDetail
  display: block
  width: 5px
  height: 5px
  border-radius: 50%
  background-color: black
  box-shadow: 0 0 5px 0 rgba(black,.5)
