@keyframes event-motion
  0%
    transform: translateX(0vw)
  100%
    transform: translateX(-100vw)

.StreamEditorItem-root
  display: flex
  flex-flow: column nowrap

.StreamEditorItem-sourceCode
  flex: 0 0 auto
  display: flex
  flex-flow: row nowrap
  align-items: stretch
  width: 100%
  height: auto
  background-color: rgba(0,0,0,.05)
  border-top: solid 1px rgba(0,0,0,.1)
  border-bottom: solid 1px rgba(0,0,0,.1)

.StreamEditorItem-sourceCodeRefLabel
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: ivory
  font-size: 12px
  font-weight: bold
  color: rgba(0,0,0,.4)
  border-right: solid 1px rgba(0,0,0,.1)
  padding: 0 10px

.StreamEditorItem-stream
  width: 100%
  height: 40px
  margin: 8px 0
  display: flex
  flex-flow: row nowrap
  align-items: stretch
  &::before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 1px
    background-color: rgba(0,0,0,.5)
    top: 0
    bottom: 0
    margin: auto

.StreamEditorItem-eventWrapper
  z-index: 1
  position: absolute
  top: -100%
  bottom: -100%
  right: 0
  margin: auto
  flex: 0 0 auto
  height: 100%
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center
  animation: event-motion 30s linear
  &:hover
    z-index: 2
    .StreamEditorItem-event
      background-color: black
      color: ivory

.StreamEditorItem-event
  height: 100%
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center
  transform: translateX(50%)
  border: 1px solid black


.StreamEditorItem-event--array
  width: 20px
  height: 100%
  justify-content: space-between
  background-color: ivory
  padding: 4px
  border-radius: 6px
  &::before,
  &::after
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    font-size: 12px
    width: 2px
    height: 2px
    font-family: 'Fira Code', Menlo, monospace
  &::before
    content: '['
    transform: rotate(90deg)
  &::after
    content: ']'
    transform: rotate(90deg)

.StreamEditorItem-event--number
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: ivory
  width: auto
  height: 20px
  padding: 2px
  font-family: 'Fira Code', Menlo, monospace
  font-size: 16px
  color: black
  border-radius: 6px

.StreamEditorItem-event--boolean
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: ivory
  width: auto
  height: 20px
  padding: 2px
  font-family: 'Fira Code', Menlo, monospace
  font-size: 16px
  color: black
  border-radius: 6px
  &.is-false
    background-color: gainsboro

.StreamEditorItem-event--string
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: ivory
  width: auto
  height: 20px
  padding: 2px
  font-family: 'Fira Code', Menlo, monospace
  font-size: 16px
  color: black
  border-radius: 6px
  &::before
    content: '"'
  &::after
    content: '"'

.StreamEditorItem-event--nullOrUndefined
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: gray
  width: 20px
  height: 20px
  padding: 2px
  font-family: 'Fira Code', Menlo, monospace
  font-size: 16px
  color: black
  border-radius: 10px
  opacity: .4

.StreamEditorItem-event--other
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  background-color: ivory
  width: 20px
  height: 20px
  padding: 2px
  font-family: 'Fira Code', Menlo, monospace
  font-size: 16px
  color: black
  border-radius: 10px

.StreamEditorItem-eventDetail
  display: block
  width: 5px
  height: 5px
  border-radius: 50%
  background-color: black
  box-shadow: 0 0 5px 0 rgba(black,.5)
