@import 'rxjs-se-stylus'

.MessageOutput-errorMessage
  flex: 0 0 auto
  color: crimson
  font-size: 14px
  font-family: $se-font-family-monospace
  background-color: white
  width: 100%
  padding: 10px
  white-space: pre
  max-height: 300px
  overflow: auto

.MessageOutput-message
  flex: 0 0 auto
  color: black
  font-size: 14px
  font-family: $se-font-family-monospace
  background-color: white
  width: 100%
  padding: 10px
  white-space: pre
  max-height: 300px
  overflow: auto
