@import 'rxjs-se-stylus'

.BottomNav-root
  position: sticky
  bottom: 0
  display: flex
  flex-flow: column nowrap
  background-color: ivory
  z-index: 2

.BottomNav-messageOutput
  border-top: solid 1px black

.BottomNav-content
  border-top: solid 1px black

.BottomNav-navItems
  display: flex
  flex-flow: row nowrap
  background-color: rgba(0,0,0,.2)

.BottomNav-navItem
  flex: 1 1 auto
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  max-width: 120px
  padding: 8px
  font-weight: bold
  background-color: transparent
  &.is-enabled.is-selected
    background-color: ivory
