.StreamEditor-root
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center
  width: 100%
  height: 100%

.StreamEditor-streamItems
  flex: 1 0 auto
  width: 100%
  height: auto
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  justify-content: flex-start
  background-color: rgba(0,0,0,.05)
  overflow: hidden

.StreamEditor-streamItem
  flex: 0 0 auto
  width: 100%

.StreamEditor-addStreamItem
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center
  width: 100%
  height: auto
  &::before
    content: '+'
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    position: absolute
    width: 72px
    height: 72px
    font-size: 24px
    font-weight: bold
    color: black
    background-color: ivory
    border-radius: 50%
    z-index: 1
    border: solid 1px rgba(0,0,0,.64)
    // box-shadow: 0px 2px 12px 0px rgba(0,0,0,.27)

.StreamEditor-addStreamItem:hover .StreamEditor-streamItem--addStreamItem
  opacity: 1

.StreamEditor-streamItem--addStreamItem
  width: 100%
  opacity: .4
  transition: opacity 200ms ease-in

.StreamEditor-errorMessage
  flex: 0 0 auto
  color: crimson
  font-size: 14px
  font-family: 'Fira Code', Menlo, monospace
  border-top: solid 1px rgba(0,0,0,.1)
  background-color: white
  width: 100%
  padding: 10px
  white-space: pre
