.AppHeader-root
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-star
  background-color: ivory
  padding: 5px 20px

.AppHeader-title
  flex: 1 0 auto
  color: black
  margin: 0

.AppHeader-nav
  flex: 0 0 auto

.AppHeader-link
  color: black
  font-size: 16px
  font-weight: bold
  text-decoration: none
  margin: 0 0 0 20px
